extends ui_layout

block content
  .ui.text.container(style="margin-top: 2em; margin-bottom: 2em;")
    h1(style="text-align: center;") Information Page
     
    h3 Think  the important events you experienced and photographed in the past week. Select two of these events and their photographs. 
    ul
        li Please create a post for each of the two events and upload the pictures to the corresponding posts.    
    img.ui.centered.image(src='/public/memento12.png')
   




    .ui.big.green.labeled.icon.button.interest
        i.rocket.icon
        |   I have read and understand the instruction

    script.
        $('.ui.big.green.labeled.icon.button.interest').on('click', function() {
            $(this).addClass('loading disabled');
            $.post("/account/consent", {
                    _csrf: $('meta[name="csrf-token"]').attr('content')
                }).done(function(json) {
                    if (json["result"] === "success") {
                        window.location.href = '/'
                    }
                });
        });