extends ui_layout

block content
  .ui.text.container(style="margin-top: 2em; margin-bottom: 2em;")
    h1(style="text-align: center;") 
     
    h3 Think about a challenging event and a joyous event that you recently experienced with your friends. 
    
    p  Make a post for each event. Share what happened in as much detail as you can.    
   
   




    .ui.big.green.labeled.icon.button.interest
        i.rocket.icon
        |   Gotcha!

    script.
        $('.ui.big.green.labeled.icon.button.interest').on('click', function() {
            $(this).addClass('loading disabled');
            $.post("/account/consent", {
                    _csrf: $('meta[name="csrf-token"]').attr('content')
                }).done(function(json) {
                    if (json["result"] === "success") {
                        window.location.href = '/'
                    }
                });
        });